<!DOCTYPE HTML>
<html>
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
    var intervalID = setInterval(update_values,100);
    function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',
        function(data) {
            var values = data.array;
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');
            ctx.fillText(''+ values, canvas.width, canvas.height);
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            var width = 15; //bar width
            var X = 50; // first bar position
            var base = 200;
            var color = '#000000';
            draw_array(data.array, width, X, canvas);

            /* Text to display scale */
            ctx.fillStyle = '#000000';
            //ctx.fillText('Scale X : '+canvas.width+' Y : '+canvas.height,900,10);
            ctx.fillText(data.sorted, 800, 10);
             if (data.sorted === true){
                reset(data.sorted);
             }
        });
    };
    function draw_array(array, width, start_pos, canvas){
        var ctx = canvas.getContext('2d');
        for (var i =0; i<array.length; i++) {
            ctx.fillStyle = '#ff0000';
            var h = array[i]*5;
            ctx.fillRect(start_pos,canvas.height - h,width,h);
            start_pos +=  width+1;
            /* text to display Bar number */
            ctx.fillStyle = '#4da6ff';
            ctx.fillText(''+(h/5),start_pos-(width+1),canvas.height - h -10);
        }
    }
    function reset(b){
        if(b===true){
          clearInterval(intervalID);
          }
    }
    </script>
  
 
    Enter the values seperated by a comma<br>

    <input type="text" name="number" id="num"><br>
    <input type="button" value="SuBmit" name="Submit" onclick="draw()">
    <input type="button" value="Clear" name="Clear" onclick="reset()">
     
 
<canvas id="myCanvas" width="900" height="500
 style=" border:1px="" solid="" #c3c3c3;"="">
</canvas>
<body>
<p>{{arr_before}}</p>
</body>

</html>

<!--DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>My Page</title>
 </head>
 <body>
  <form method="POST" action="/response">
   Name: <input type="text" name="fname" required><br>
   Note: <input type="text" name="note" required><br>
   <input type="submit" value="Submit">
  </form>
  {% if name %}
  <h1>{{name}} says: </h1>
  {% endif %}
  {% if note %}
  <p>{{note}}</p>
  {% endif %}
 </body>
</html>-->